<div class="header_wrapper">
  <%= link_to image_tag('logo.png'), '/' , class: "header_logo" %>
  <% if user_signed_in? %>
  <div class="header_link" >
  <%= link_to "募集一覧", posts_path %>
  <%= link_to "募集作成", new_post_path %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
  <% else %>
  <div class="header_link" >
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
  </div>
  <% end %>
</div>
