<div class="main_wrapper">
  <span class="title_span">募集一覧</span>
  <%= form_with url: search_path, local: true, method: :get do |f| %>
    <%= f.text_field :keyword, class: "search_text", placeholder: "題名か場所で検索" %>
    <%= f.submit "検索", class: "search_submit" %>
  <% end %>
</div>
<div class="index_wrapper">
<% @posts.each do |post| %>
  <div class="table_wrapper">
  <span class="user_name_span">作成者：<%= post.user.name %></span>
  <table>
    <tr>
      <td colspan=4 class="td_img">
        <% if post.finished %>
          <span class="finished_mark">募集終了</span>
        <% end %>
        <%= link_to image_tag(post.post_image.url), "posts/#{post.id}" %>
      </td>
    </tr>
    <tr>
      <th>
        題名
      </th>
      <td colspan=3>
        <%= link_to post.title, "posts/#{post.id}" %>
      </td>
    </tr>
    <tr>
      <th>
        人数
      </th>
      <td>
        <%= post.person %>
      </td>
      <th>
        対象
      </th>
      <td>
        <%= post.level %>
      </td>
    </tr>
    <tr>
      <th rowspan=2>
        日時
      </th>
      <td colspan=3 class="bottom_border_none">
          <%= post.datetime.to_s(:datetime_jp) %>
      </td>
    </tr>
    <tr>
      <td colspan=3 class="top_border_none">
        〜<%= post.end_datetime.to_s(:datetime_jp) %>
      </td>
    </tr>
    </tr>
    <tr>
      <th>
        場所
      </th>
      <td colspan=3>
        <%= post.location %>
      </td>
    </tr>
    <tr>
      <th>
        締切
      </th>
      <td colspan=3>
        <%= post.deadline.to_s(:datetime_jp) %>
      </td>
    </tr>
  </table>
  </div>
<% end %>
</div>
