<div class="main_wrapper">
  <span class="title_span">募集一覧</span>
  <%= search_form_for @q, url: search_path, html: { class: "serch_form_wrapper" }  do |f| %>
    <div class="field">
      <%= f.label :address_cont, "都道府県から選択" %>
      <%= f.collection_select(:address_cont, Prefecture.all, :key, :name ) %><br>
    </div>
    <div class="field">
      <%= f.label :datetime_gteq, "開催日時から選択" %>
      <%= f.date_field :datetime_gteq, include_blank: true, min: Date.today %>〜
      <%= f.date_field :datetime_lteq_end_of_day, include_blank: true, min: Date.today %><br>
    </div>
    <div class="field" >
      <%= f.label :title_or_address_cont, "題名か場所で検索" %>
      <%= f.search_field :title_or_address_cont, class: "search_text" %>
    </div>
    <%= f.submit "検索", class: "search_submit" %>
  <% end %>
</div>
<div class="sort_wrapper">
  <%= sort_link(@q, :datetime, "開始日順",default_order: :asc) %>
  <%= sort_link(@q, :created_at, "新着順") %>
</div>
<div class="index_wrapper">
  <% @posts.each do |post| %>
    <div class="table_wrapper">
      <span class="user_name_span">募集者：
        <%= link_to user_path(post.user.id) do %>
          <%= image_tag post.user.profile_photo.url, class: "index_profile_photo" %>
          <%= post.user.name %>
        <% end %>
      </span>
      <table>
        <tr>
          <td colspan=4 class="td_img">
            <% if post.finished %>
              <span class="finished_mark">募集終了</span>
            <% end %>
            <%= link_to image_tag(post.post_image.url), "posts/#{post.id}" %>
          </td>
        </tr>
        <tr>
          <th>題名</th>
          <td colspan=3>
            <%= link_to post.title, "posts/#{post.id}" %>
          </td>
        </tr>
        <tr>
          <th>人数</th>
          <td>
          <%= post.person %>
          </td>
          <th>対象</th>
          <td>
            <%= post.level %>
          </td>
        </tr>
        <tr>
          <th rowspan=2>日時</th>
          <td colspan=3 class="bottom_border_none">
            <%= post.datetime.to_s(:datetime_jp) %>
          </td>
        </tr>
        <tr>
          <td colspan=3 class="top_border_none">
            〜<%= post.end_datetime.to_s(:datetime_jp) %>
          </td>
        </tr>
        <tr>
          <th>場所</th>
          <td colspan=3>
            <%= post.address %>
          </td>
        </tr>
        <tr>
          <th>締切</th>
          <td colspan=3>
            <%= post.deadline.to_s(:datetime_jp) %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
