<div class="main_wrapper">
  <span class="title_span"><%= @post.title %></span>
  <div class="post_img_wrapper">
    <% if @post.finished %>
      <span class="finished_mark">募集終了</span>
    <% end %>
    <%= image_tag @post.post_image.url %>
  </div>
  <div class="edit_delete_wrapper">
    作成者：<%= @post.user.name %>
    <% if @post.user_id == current_user.id %>
      <%= link_to "編集", "#{@post.id}/edit"%>
      <%= link_to "削除", "#{@post.id}", method: :delete %>
      <% if @post.finished %>
        <%= link_to '募集中に戻す', post_path(@post.id, post: {finished: false}), method: :put %>
      <% else %>
        <%= link_to '募集終了にする', post_path(@post.id, post: {finished: true}), method: :put %>
      <% end %>
    <% end %>
  </div>
  <table>
    <tr>
      <th>
        人数：
      </th>
      <td>
        <%= @post.person %>
      </td>
      <th>
        対象：
      </th>
      <td>
        <%= @post.level %>
      </td>
    </tr>
    <tr>
      <th>
        日時：
      </th>
      <td colspan=3>
        <%= @post.datetime.to_s(:datetime_jp) %>〜<%= @post.end_datetime.to_s(:datetime_jp) %>
      </td>
    </tr>
    <tr>
      <th>
        場所：
      </th>
      <td colspan=3>
        <%= @post.location %>
      </td>
    </tr>
    <tr>
      <th>
        締切：
      </th>
      <td colspan=3>
        <%= @post.deadline.to_s(:datetime_jp) %>
      </td>
    </tr>
  </table>
  <div class="description_wrapper">
    <p>説明</p>
    <div class="description_field"><%= @post.description %></div>
  </div>
  <div class="message_wrapper">
    <p>質問・コメント</p>
      <div id= <%= "messages#{@post.id}" %> >
      <% @messages.each do |message|%>
        <%= render "shared/message", message: message %>
      <% end %>
      </div>
    <textarea data-behavior="room_speaker" class="room_message_form_textarea" data-post_id="<%= @post.id %>" placeholder="メッセージを入力(Shift+Enterで送信します)" ></textarea>
  </div>
</div>
